:root{
    --heading-color: #242425;
    --mid-font-color: #575353;
    --light-font-color: #808080;
    --highlight-color: #5546AF;
    --theam-color: #ffffff;
}
.deliveries_hero_section{
    padding-top: 12px;
    margin-top: 12px;
}
.deliver_panal_show{
    padding: 9px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    background: var(--theam-color);
}
.top_zone_btn_box{
    margin-top: 20px;
    flex-wrap: wrap;
}
.zon_btn_container input{
    display: none;
}
.zone_btn{
    width: fit-content;
    border: 1px solid var(--light-font-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--mid-font-color);
    border-radius: 5px;
    background: var(--theam-color);
}
.zone_btn span {
    padding: 9px;
}
.zone_btn img{
    padding: 2px 3px;
    display: none;
    width: 20px;
    height: 20px;
}
.zon_btn_container input:checked + .zone_btn img {
    display: block;
}
.zon_btn_container input:checked + .zone_btn {
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
}
.zon_btn_container input:checked + .zone_btn span{
    border-right: 1px solid var(--highlight-color);
    color: var(--highlight-color);
}

.del_serch{
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: var(--theam-color);
    padding: 12px 10px;
    outline: none;
    color: var(--mid-font-color);
    width: 100%;
    margin-top: 12px;
}
.del_serch:focus{
    border: 1px solid var(--highlight-color);
}
.filter_row{
    margin-top: 12px;
}
.CR_result{
    font-size: 12px;
    color: var(--mid-font-color);
}
.filter_btn_box{
    font-size: 14px;
    color: var(--mid-font-color);
    gap: 2px;
    cursor: pointer;
}


/* ++++++++++ items list ++++++++ */
.deliveries_items_box{
    width: 100%;
}
.DL_item{
    border: 1px solid #E6E6E6;
    background: #FDFDFD;
}
.deliveries_items_container{
    gap: 16px;
    margin-top: 22px;
}
.dlvry_boy_name{
    gap: 7px;
    font-size: 15.961px;
    font-weight: 700;
}
.card_zone_name{
    font-size: 15px;
}
.delivery_address, .card_daliy_order{
    color: var(--light-font-color);
    font-size: 14px;
    margin-top: 8px;
}
.card_note_addres{
    color: var(--mid-font-color);
    font-size: 15px;
    margin-top: 10px;
    font-weight: 700;
}
.left_side_content{
    padding: 20px 0px 20px 10px;
}
.right_side_content{
    /* align-items: stretch; */
    gap: 10px;
    height: 100%;
    align-items: flex-end;
    padding: 20px 0px 20px 10px;
    border-left: 1px solid  #E6E6E6;
    user-select: none;

}
.items_img_box{
    width: 100%;
    height: 100%;
    max-width: 35px;
    min-width: 35px;
    /* max-height: 28px; */
    /* min-height: 28px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}
.items_img_box img {
    width: 100%;
}
.check_box_icon_img img {
    display: none;
}
.check_box_icon_img{
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #D3D3D3;
    padding: 0px;
    margin-right: 10px;
    border-radius: 3px;
}
.deliveries_items_box input{
    display: none;
}
.deliveries_items_box input:checked + .DL_item,
.deliveries_items_box input:checked + .DL_item .right_side_content {
    border-color: var(--highlight-color);
}
.deliveries_items_box input:checked + .DL_item .right_side_content .check_box_icon_img{
    border: none;
    
}
.deliveries_items_box input:checked + .DL_item .right_side_content .check_box_icon_img img{
    display: block;
}

/* ______ sty box _____/ */
.footer_sty_box{
    margin-top: 20px;
    padding: 20px 10px;
    bottom: 0px;
    position: sticky;
    background-color: var(--theam-color);
    filter: drop-shadow(0px -1.103px 11.026px rgba(0, 0, 0, 0.09));
}
.right_check_box_sty{
    font-size: 15px;
    gap: 10px;
    color: var(--light-font-color);
}
.top_sty_line_text{
    font-size: 12px;
    color: var(--light-font-color);
}
.bulk_action_btn{
    color: var(--light-font-color);
    font-size: 12px;
    margin-top: 9px;
}
.sty_btn_boxx{
    gap: 10px;
    margin-top: 10px;
}
.left_side_btn_sty{
    border-radius: 5px;
    background: #524C4C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--theam-color);
    border: none;
    gap: 4px;
    padding: 10px 14px;
    cursor: pointer;
}
.right_side_btn_sty{
    width: 100%;
    padding: 10px 14px;
    border-radius: 5px;
    color: var(--theam-color);
    background: #5546AF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    gap: 4px;
    cursor: pointer;
}
#cars{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid var(--light-font-color);
    border-radius: 5px;
    outline: none;
}
#cars:focus{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid  var(--highlight-color);
}